<ng-container *ngIf="isShow">
    <!-- LOADING SKELETON FORM -->
    <ng-container *ngIf="TypeSkeleton.FORM">
        <div class="header">
            <div class="title">
                <h4> {{ titlePage }} </h4>
            </div>
        </div>
        <p-tabView styleClass="custom-tabview">
            <ng-container *ngFor="let tabName of tabNames; index as index">
                <ng-container *ngIf="index === 0">
                    <p-tabPanel [header]="tabName || 'None'">
                        <div class="grid">
                            <div class="col-6"> <p-skeleton width="100%" height="4rem"></p-skeleton> </div>
                            <div class="col-6"> <p-skeleton width="100%" height="4rem"></p-skeleton> </div>
                            <div class="col-6"> <p-skeleton width="100%" height="4rem"></p-skeleton> </div>
                            <div class="col-6"> <p-skeleton width="100%" height="4rem"></p-skeleton> </div>
                            <div class="col-12"> <p-skeleton width="100%" height="10rem"></p-skeleton> </div>
                            <div class="col-12"> <p-skeleton width="100%" height="10rem"></p-skeleton> </div>
                            <div class="col-12"> <p-skeleton width="100%" height="10rem"></p-skeleton> </div>
                            <div class="col-12"> <p-skeleton width="100%" height="10rem"></p-skeleton> </div>
                        </div>
                    </p-tabPanel>
                </ng-container>
                <ng-container *ngIf="index > 0">
                    <p-tabPanel [header]="tabName || 'None'"></p-tabPanel>
                </ng-container>
            </ng-container>
        </p-tabView>
    </ng-container>
    <!-- LOADING SKELETON TABLE -->
    <ng-container *ngIf="TypeSkeleton.FORM">

    </ng-container>
</ng-container>
