@import '../../../../../shared/assets/layout/sass/variables_general.scss';

.product-top-bar{
    border-radius: 12px !important;
    &-display{
        position: absolute;
        top: 64px;
        left: 215px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;     
        padding: 16px;          
        background: #FFFFFF;
        border-radius: 8px !important;
        border: 1px solid #EAECF0 !important;
    }
    &-component{
        cursor: pointer;
        text-align: center;
        border-radius: 3.854px !important;
        border: 1px solid #EAECF0 !important;
        padding: 19px 0 10px 0;
        transition: all 0.3s ease;
        &-logo{
            background-color: $blue_100;
            padding: 10px; 
            width: 70px; 
            height: 70px; 
            border-radius: 50%; 
            margin: 0 auto;
            transition: all 0.3s ease;
            &:hover{
                background-color: #FFF; 
            }
        }
        img.product-top-bar-logo {
            width: 50px;
            height: 50px;
            background-size: cover;
            transition: all 0.3s ease;
        }
        &.active {
            background-color: $blue_800;
            
            p.product-top-bar-name {
                color: #fff;
            }
        }
        #logo-invest {
            width: 45px;
            height: 45px;
            background-size: cover;
            transition: all 0.3s ease;
        }
        &:hover{
            background-color: $blue_600;
            p.product-top-bar-name {
                color: #fff;
            }
            // img.product-top-bar-logo {
            //     filter: brightness(0) invert(1);
            // }
        }
        &:active {
            background-color: $blue_800;
            p.product-top-bar-name {
                color: #fff;
            }
        }

    }
    &-logo{
        margin-left: 0 !important;
    }
    &-name{
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        color: #344054;
        padding-top: 8px;
    }
}
