<ul class="product-item-submenu product-top-bar" *ngIf="isOpen" >
    <div class="product-top-bar-display">
        <div class="grid">
            <!-- <div class="col-6">
				<div class="product-top-bar-component" [ngClass]="{'active': isCoreActive()}">
					<a href="{{ env.baseUrlHome }}">
						<div class="product-top-bar-component-logo">
							<img class="product-top-bar-logo" [src]="listWebConfig[permissionWebConst.Home].logo" alt="mirage-layout"/>
						</div>
						<p class="product-top-bar-name">MB-Home</p>
					</a>
				</div>
            </div> -->
            <div class="col-6">
                    <div class="product-top-bar-component" [ngClass]="{'active': isCoreActive()}">
                        <a href="{{ env.baseUrlCore }}">
                            <div class="product-top-bar-component-logo">
                                <img class="product-top-bar-logo" [src]="listWebConfig[permissionWebConst.Core].logo" alt="mirage-layout"/>
                            </div>
                            <p class="product-top-bar-name">MBCore</p>
                        </a>
                    </div>
            </div>
            <div class="col-6">
                <div class="product-top-bar-component" [ngClass]="{'active': isSalerActive()}">
                    <a href="{{ env.baseUrlSaler }}">
                        <div class="product-top-bar-component-logo">
                            <img class="product-top-bar-logo" [src]="listWebConfig[permissionWebConst.Saler].logo" alt="mirage-layout"/>
                        </div>
                        <p class="product-top-bar-name">MBSaler</p>
                    </a>
                </div>
            </div>
            <div class="col-6">
                <div class="product-top-bar-component" [ngClass]="{'active': isUserActive()}">
                    <a href="{{ env.baseUrlUser }}">
                        <div class="product-top-bar-component-logo">
                            <img class="product-top-bar-logo" [src]="listWebConfig[permissionWebConst.User].logo" alt="mirage-layout"/>
                        </div>
                        <p class="product-top-bar-name">MBUser</p>
                    </a>
                </div>
            </div>
            <div class="col-6">
                <div class="product-top-bar-component" [ngClass]="{'active': isInvestActive()}">
                    <a href="{{ env.baseUrlInvest }}">
                        <div class="product-top-bar-component-logo">
                            <img class="product-top-bar-logo" id="logo-invest" [src]="listWebConfig[permissionWebConst.Invest].logo" alt="mirage-layout"/>
                        </div>
                        <p class="product-top-bar-name">MBInvest</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</ul>
