<lib-loading [(isSpinner)]="isLoading"></lib-loading>
<div id="page-content" class="page-detail">
  <div id="page-header">
      <div class="header">
          <div>
              <h4>Chi Tiết</h4>
          </div>
          <div class="actions">

              <p-button
                  styleClass="ml-3 system-style"
                  label="Quay lại" icon="pi pi-angle-left"
                  >
              </p-button>
          </div>
      </div>
  </div>

  <p-tabView styleClass="tabview" [(activeIndex)]="activeIndex" (onChange)="changeTab($event)">
      <p-tabPanel [header]="'startProcess'">
          <ng-template pTemplate="header">
              <span> Start process </span>
          </ng-template>
          <app-start-process *ngIf="tabViewActive['startProcess']">
          </app-start-process>
      </p-tabPanel>

      <p-tabPanel  [header]="'taskList'" *ngIf="camundaRestService?.processDefinitionId">
          <ng-template pTemplate="header">
              <span> Task list </span>
          </ng-template>
          <app-task-list *ngIf="tabViewActive['taskList']">
          </app-task-list>
      </p-tabPanel>
  </p-tabView>
</div>

