<lib-loading [(isSpinner)]="isLoading" [message]="BaseConsts.messageOnUpload"></lib-loading>
<form class="form-wrapper" [formGroup]="postForm" (ngSubmit)="onSubmit()">
    <div *ngFor="let group of formInputs" class="grid m-0">
        <div class="col-12 grid form-style p-0" >
            <div *ngIf="group?.title.length > 0 && !configDialog?.data?.item" class="col-12 title-group-input">
                <h4 class="group-title">{{ group.title }}</h4>
            </div>
            <div *ngFor="let input of group?.inputs" [ngClass]="'field col-' + input.col">
                    <label *ngIf="!input?.hidden" [for]="input?.controlName" [ngClass]="{
                        'hide-label-input': input?.hiddenLabel }">{{ input?.label }}
                        <span class="required-field" *ngIf="input?.required"> *</span>
                    </label>
                <ng-container [ngSwitch]="input?.type" *ngIf="!input?.hidden">
                    <ng-container *ngSwitchCase="EFormElements.INPUT">
                        <input [placeholder]="getPlaceholder | function: [input]" [formControlName]="input.controlName" [type]="input.inputType"
                            [ngClass]="{ 'ng-invalid ng-dirty': isInvalid(postForm, input?.controlName) }" [disabled]="input?.disabled"
                            class="custom-disabled" [maxlength]="input?.maxLength || EMaxLength.DEFAULT*2"
                            [id]="input.controlName" pInputText />
                    </ng-container>
                    <ng-container *ngSwitchCase="EFormElements.INPUT_VALUE">
                        <input [placeholder]="getPlaceholder | function: [input]" [value]="postForm?.value[input?.controlName]" [type]="input.inputType"
                            [ngClass]="{ 'ng-invalid ng-dirty': !postForm?.value[input?.controlName] && onClickSubmit }" [disabled]="input?.disabled"
                            class="custom-disabled" [maxlength]="input?.maxLength || EMaxLength.DEFAULT*2"
                            [id]="input.controlName" pInputText />
                    </ng-container>
                    <ng-container *ngSwitchCase="EFormElements.DROPDOWN">
                        <p-dropdown
                            appendTo="body" class="custom-disabled" [placeholder]="getPlaceholder | function: [input]"
                            [autoDisplayFirst]="false" [filter]="input?.options?.length > BaseConsts.OPTIONS_MIN_LENGTH_SHOW_FILTER" [filterBy]="'name'"
                            [ngClass]="{'ng-invalid ng-dirty': postForm?.get(input?.controlName)?.invalid && postForm?.get(input?.controlName)?.touched }"
                            [optionLabel]="input.optionLabel" [optionValue]="input.optionValue" [id]="input.controlName"
                            [for]="input.controlName" [options]="input?.options" styleClass="w-full"
                            [formControlName]="input?.controlName">
                        </p-dropdown>
                    </ng-container>
                    <ng-container *ngSwitchCase="EFormElements.INPUT_SWITCH">
                      <div class="mt-1 ml-0">
                          <p-inputSwitch (onChange)="onChange($event, input?.controlName)"
                              [formControlName]="input?.controlName"
                              [id]="input.controlName">
                          </p-inputSwitch>
                      </div>
                  </ng-container>
                    <small *ngIf="isInvalidMessage(postForm, input?.controlName)" class="p-error">
                        {{ postForm.get(input?.controlName).getError('errorMessage') }}
                    </small>
                </ng-container>

            </div>

        </div>
    </div>

    <div class="p-dialog-footer custom-dialog-footer">
        <button type="reset" pButton pRipple [label]="'Hủy'"
            class="system-style btn-cancel" (click)="ref.close()"></button>
        <button type="submit" pButton pRipple label="Lưu"  class="system-style"></button>
    </div>
</form>
