@font-face {
    font-family: 'Inter';
    font-display: block;
    src: url('../../../../shared/assets/fonts/Inter-Medium.ttf') format('truetype') ;
    font-weight: normal;
    font-style: normal;
}