.icon-image {
    border-radius: 42.667px;
    border: 1px solid var(--gray-mb-100, #F2F4F7);
    background: #FFF;
}

.size-text {
    color: var(--gray-mb-gray-mb-900, #101828);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; 
}