<div class="popup-confirmation">
    <div class="grid p-fluid">
        <div class="col-12 md:col-12">
            <div class="field" style="text-align: center">
                <p-image
                    [src]="(data?.icon)" 
                    [imageStyle]="{'border-radius':'8px','max-height':'240px', 'width': '60px', 'height': '60px'}" 
                    styleClass="dialog_confirmation"
                    >
                </p-image>      
            </div>
        </div>
        <div class="col-12 md:col-12">
            <div class="field">
                <label class="field-label"> {{data.title}} </label>         
            </div>
        </div>
        <div class="col-8 md:col-8" style="margin: auto;" *ngIf="configDialog.data.reason">
            <input pInputText type="text" class="reason-popup-confirm" placeholder="Nhập lý do" />
        </div>
    </div>
    <div class="p-dialog-footer" style="width: 100%; position: fixed; left: 0; bottom: 0;">
        <button pButton pRipple label="Để sau" class="p-button-text p-confirm-dialog-reject p-popup-confirm-reject" (click)="cancel()"></button>
        <button pButton pRipple label="Đồng ý" class="p-button-text p-confirm-dialog-approve p-popup-confirm-approve" [disabled]="submitted" (click)="accept()"></button>
    </div>
</div>
