@import '../sass/variables_general.scss';

// CREATE MULTIPLE CLASS
@for $i from 1 through 10 {
    .colc-#{$i} {
        width: #{$i*10}#{'%'};
    }
}

/* b-cut-text TỪ 1 -> 60 REM */
@for $i from 1 through 60 {
	.cut-text-#{$i} {
		text-overflow: ellipsis;
		overflow: hidden;
		width: #{$i}rem;
		white-space: nowrap;
	}
}

//
.mlr-0 {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.plr-0{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
//
$fieldMarginBottom: 2px;
//
%title-page {
    padding-bottom: 0px;
    margin-bottom: 0px;
    color: #101828;
}

%style-list-action {
    text-align: right;
    .p-button {
        margin-left: 10px;
        width: auto;
        &:first-child {
            button {
                margin-left: 0;
            }
        }
    }
}

.layout-content {
    padding: 0;
    background: $white;
    #page-content {
        padding: 18px;
        padding-top: 5px;
        padding-bottom: 5px;
        background: white;
        border-radius: 4px;
        //
        #page-header {
            .header {
                margin-bottom: 24px;
                min-height: 40px;
                align-items: center;
                display: flex;
                justify-content: space-between;
                & , .title {
                    h3, h4, h5 {
                        @extend %title-page;
                    }
                }//
                .actions {
                    @extend %style-list-action;
                }
            }
        }
        //
        &.page-detail {
            .header {
              min-height: 40px !important;
            }
        }
    }
}


// Ngx Spinner
.ngx-spinner-overlay {
    z-index: 1000 !important;
    background-color: #ffffff5c !important;
    .loading-text {
        top: calc(50% + 60px) !important;
        p {
            font-size: 1.2rem;
            color: #646464 !important;
            display: none;
        }
    }
    //
    .la-ball-spin-clockwise {
        color: #5a5a5a !important;
    }
}

// Style group filter
.filter-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	margin-top: 0.75rem;
    .filter {
        margin-bottom: 2rem;
        margin-right: 10px;
        // &:first-child {
        //     margin-left: 0;
        // }
        //
        .p-inputtext, .p-dropdown, .p-calendar, .p-multiselect {
            width: 100%;
        }

		.p-dropdown {
        .p-placeholder {
            color: $systemTextcolor !important;
        }
        //
        &.default-placeholder {
            .p-placeholder {
                color: $placeholderColor !important;
            }
        }
		}
        //
        .p-float-label label {
            margin-left: -0.5rem !important;
            top: -1rem !important;
            font-size: 14px;
			line-height: normal !important;
			color: $systemTextcolor;
        }
    }
}

// Style form input
.form-wrapper {
    .form-style {
        .field {
            margin-bottom: $fieldMarginBottom;
            .p-inputtext, .p-dropdown, .p-autocomplete, .p-multiselect{
                width: 100%;
            }

            p-inputnumber {
                width: 100%;
                span.p-inputnumber {
                    width: 100%;
                }
            }

            p-calendar {
                padding-left: 0;
                padding-right: 0;
                span.p-calendar {
                    width: 100%;
                }
            }

            p-password, .p-password {
                width: 100%;
            }
        }
    }
}

.disabled-textarea {
    pointer-events: none;
    user-select: none;
    background-color: #f8f8f8 !important; /* Màu nền để hiển thị trạng thái vô hiệu hóa */
}

.image-border {
    max-width: 400px;
    padding: 10px;
    border: 2px dashed gray;
}

.img-zone {
    border: 1px dashed $grayMb200;
    border-radius: 8px;
    max-width: 200px;
    height: 200px;
    min-height: 100px;
    padding: 5px;
    img {
        max-width: 200px;
        max-height: 200px;
        border-radius: 15px;
    }
}

// Style custom spinner
.ngx-spinner-overlay{
    // z-index: 9999 !important;
}
// Class status color
// Cần class gì cùng màu thì thêm tên class vào đây
span {
    &.tag-active, &.tag-create {
        color: $active;
        background: $bgActive;
    }

    &.tag-deactive {
        color: $deactive;
        background: $bgDeactive;
    }
    //
    &.tag-request, &.tag-update {
        color: $request;
        background: $bgRequest;
    }
    //
    &.tag-cancel {
        color: $cancel;
        background: $bgCancel;
    }
    //
    &.tag-init {
        color: $init;
        background: $bgInit;
    }
    //
    &.tag-delete {
        color: $delete;
        background: $bgDelete;
    }
    //
    &.tag-pending {
        color: $pending;
        background: $bgPending;
    }
    //
    &.tag-incomplete {
        color: $incomplete;
        background: $bgIncomplete;
    }
    //
    &.tag-confirm {
        color: $confirm;
        background: $bgConfirm;
    }
    &.tag-lock {
        color: $lock;
        background: $bgLock;
    }
    &.tag-wait-approve{
        color: $waitApprove;
        background: $bgWaitApprove;
    }
}


// Style content tabview
.content-tabview {
    .tabview-header {
        .header {
            display: flex;
            justify-content: space-between;
            .title {
                h3, h4, h5 {
                    margin-bottom: 0
                }
            }
			.filters {
				
			}
            //
            .actions{
                @extend %style-list-action;
            }
        }
    }
}

// Style solumn
.grid-c {
    padding-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    .field {
        padding: 0.5rem;
        margin-bottom: $fieldMarginBottom;
        .p-inputtext, .p-inputnumber, p-inputNumber {
            width: 100%;
        }
    }
}

/* Style potion small text validator*/
.field {
  position: relative;
  small.p-error {
    position: absolute;
    width: 100%;
    bottom: -0.65rem;
    left: 0;
    padding-left: 0.75rem;
    &.validator-unset{
        position: unset !important;
        padding-left: 0 !important;
    }
  }
}

.custom-calendar {
    .p-button {
        border: $borderDefault;
        border-left: none !important;
        border-radius: 8px;

        &:enabled:hover {
            color: #000;
            border-color: $grayMb200;
        }
    }
}

.disable-click {
  pointer-events: none;
}

.poiner-default {
  cursor: default;
}

// disabled-input-custom
.custom-disabled {
    .p-component.p-disabled, .p-component:disabled, .p-disabled {
        opacity: 1;
        background: $disabledInputColor !important;
    }
    &:disabled {
        opacity: 1;
        background: $disabledInputColor !important;
    }
}

.required-field {
    color: red;
}

// Ẩn label
.hide-label-input {
    color: white;
    span{
        color: white;
    }
}

// Style label of input, dropdown, filter
.label-filter{
    font-size: 14px !important;
    font-weight: 400;
    color: #344054;
}

// Style title page
.title-page {
    font-size: 24px !important;
    font-weight: 700;
    color: #101828;
    padding: 8px 0;
}

.field-invalid {
    border-color: $errorColor !important;
}

// custom style srcoll bar
::-webkit-scrollbar {
    width: 8px; //scroll-y
    height: 8px; //scroll-x
}

/* Track */
::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px rgb(231, 231, 231);
border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #b3b3b36e;
    &:hover {
        background: #b3b3b3;
        cursor: pointer;
    }
}

.text-while {
	color: $white;
}

// float label input
.float-label {
	position: relative;
	label {
		position: absolute;
		top: -20px;
		font-size: 14px;
		color: $systemTextcolor;
		left: 0.25rem;
	}
	//
	&.input-search {
		label {
			color: $systemTextcolor;
		}
		//
		span {
			i.clear-data {
				cursor: pointer;
			}
		}
 
		input::placeholder {
			font-size: 14px;
		}
	}
}

// button action table
.btn-action-table{
    background-color: rgba(255,255,255,0.1) !important;
    color: rgba(0,0,0,0.9) !important;
    border: none !important;
    &:focus {
        box-shadow: none !important;
    }
}

.btn-action-table-bold{
    span{
        font-size: 18px;
    }
}

.b-w-50 {
    width: 50%;
}

.b-w-100 {
    width: 100%;
}

.custom-file-upload {
    .p-fileupload-buttonbar {
        padding: 0px;
        background: white;
        border: none;
        // text-align: center !important;
    }
    //
    .p-fileupload-content{
        display: none;
    }
    //
    &.b-w-100 {
        span.p-fileupload-choose {
            width: 100% !important;
        }
    }
  }

// style text overflow content label
%style-text-dotted {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: block !important;
	height: auto !important;
}

label {
	@extend %style-text-dotted;
}

.short-text {
	@extend %style-text-dotted;
}

.disabled-click {
    pointer-events: none;

    .angular-editor-button{
        background-color: #f5f5f5 !important;
        pointer-events: none;
        cursor: not-allowed;
        i{
            color: #ccc;
        }
    }
}

p-calendar{
    timesicon{
        svg{
            margin-right: 1.5rem;
        }
    }
}

.confirm-text{
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    white-space: pre-line;
}

.hover-pointer {
    cursor: pointer;
    .link {
		color: $systemColor;
		&:hover {
			color: $systemColor;
			border-bottom: 1px solid $systemColor; 
		}
    }
}

.fit-loading {
	position: relative;
}

.text-warning {
    height: 22px;
    border-radius: 4px;
    gap: 8px;
    background: rgba(253, 248, 237, 1);

    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(255, 171, 0, 1);
}

.profile-info-wrapper {
    .profile-info-username {
        font-size: 16px !important;
        font-weight: 500 !important;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: rgba(0, 0, 0, 1) !important;
    }
}

.tooltip-info{
    color: $grayMb500;
}

.group-btn-pin{
    margin-right: 16px;
    margin-bottom: 24px;
}

.quarantine-contract {
    margin-bottom: -2px;
}