$blue_800: #002D8F;
$blue_700: #0045DC;
$blue_600: #2F71FF;
$blue_400: #99B9FF;
$blue_100: #F0F4FF;

$grayMb200: #EAECF0;
$grayMb300: #D0D5DD;
$grayMb500: #667085;
$grayMb700: #344054;
$grayMb900: #101828;

// $systemColor: #175CD3;
$systemColor: $blue_700;
$systemHoverOrPress: $blue_600;
$systemBoxShadow: 0 0 0 0.2rem #adc9f9;
$white: #ffffff;
$red: red;
$errorColor:#dc3545;
//
$systemBorderRadiusButton: 10px;
$systemBorderRadius: 8px;
$disableColor: rgb(0 0 0 / 5%);
$checkboxBackgroundColor: #0747A6;
$topbarHeight: 64px;

$disabledBackgroundButton: #EAECF0;
$disabledTextColorButton: #98A2B3;

$disabledInputColor: #EAECF0;
$placeholderColor: #98A2B3;
$systemTextcolor: #495057;

//

$borderDefault: 1px solid $grayMb200;


// ==== STATUS COLOR
$active: #006644;
$bgActive: #F4FCF9;
//
$deactive: #DE350C;
$bgDeactive: #FEF6F7;

//
$request: #FFAB00;
$bgRequest: #FDF8ED;
//
$cancel: #DE350C;
$bgCancel: #FEF6F7;
//
$init: #1849A9;
$bgInit: #EFF8FF;
//
$delete: #475467;
$bgDelete: #F9FAFB;
//
$pending: #F08F35;
$bgPending: #FEF9F5;
//
$incomplete: #A11F16;
$bgIncomplete: #FEF3F2;
//
$confirm: #F04438;
$bgConfirm: #FDF7F9;
//
$lock: #7F56D9;
$bgLock: #F4EBFF;
//
$waitApprove: #0A7ED2;
$bgWaitApprove: #EDFBFF
