<div class="page-not-found">
    <div>
        <img src="{{ defaultImage.PAGE_NOT_FOUND }}" alt="">
    </div>
    <div>
        <p class="page-not-found-title">Không có dữ liệu hiển thị</p>
        <button class="page-not-found-button" (click)="redirectToHome()">
            Trang chủ
        </button>
    </div>
</div>