<div class="form-wrapper">
    <div class="grid">
        <div class="col-12 form-style">
            <div class="mt-3 col-12 text-center">
                <div [style.height.px]="60">
                    <p-image
                        [src]="dialogData.icon"
                        [imageStyle]="styleIcon"
                        >
                    </p-image>
                </div>
            </div>
            <div class="mt-3 col-12 text-center">
                <span class="confirm-text" [innerHTML]="dialogData?.message"></span>
            </div>
            <div *ngIf="dialogData?.dropdownData" class="field col-12">
                <label htmlFor="reason">Lý do <span class="required-field">*</span></label>
                <p-dropdown
                    id="reason" appendTo="body" [options]="dialogData.dropdownData" optionLabel="name"
                    optionValue="code" placeholder="Chọn lý do" [(ngModel)]="responseData.dropdownReason"
                    (onBlur)="checkValid()"
                    [ngClass]="{'ng-invalid ng-dirty': !responseData.dropdownReason && isShowSmall}"
                >
                </p-dropdown>
                <small *ngIf="!responseData.dropdownReason && isShowSmall" id="username-help" class="p-error">Trường bắt buộc nhập</small>
            </div>
            <div *ngIf="dialogData?.isNoteConfirm" class="field col-12">
                <label htmlFor="reason">Lý do <span class="required-field">*</span></label>
                <input id="reason" [(ngModel)]="responseData.noteReason" pInputText type="text" placeholder="Nhập lý do"
                [ngClass]="{'ng-invalid ng-dirty': !responseData.noteReason && isShowSmall}"
                />
                <small *ngIf="!responseData.noteReason && isShowSmall" id="username-help" class="p-error">Trường bắt buộc nhập</small>
            </div>
        </div>
    </div>
    <div class="p-dialog-footer e-custom-dialog-footer" >
        <button pButton pRipple [label]="dialogData?.labelButton?.cancel"  class="system-style btn-cancel" (click)="cancel()"></button>
        <button pButton pRipple [label]="dialogData?.labelButton?.accept"  class="system-style" (click)="accept()"></button>
    </div>
</div>
