<lib-markdown-html></lib-markdown-html>
<div>
    <!-- <ngx-spinner 
        bdColor="rgba(0, 0, 0, 0.8)" 
        type="timer"
        size="default" color="#fff" 
        [fullScreen]="false">
        <p style="color: white" > Đang tải dữ liệu ... </p>
    </ngx-spinner> -->
</div>
<form>
    <p-fileUpload 
        mode="basic" name="demo[]" 
        accept="image/*" maxFileSize="1000000" 
        multiple="true"
        (onSelect)="chooseFile($event)" 
        chooseLabel="Browse">
    </p-fileUpload>
    <hr>
    <p-button (click)="uploadImage()"> Upload Image </p-button>
</form>

<!-- <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
    <ng-container formGroupName="group1">
        <input formControlName="input2G1" type="text" pInputText />
    </ng-container>
    <input formControlName="input1" type="text" pInputText />
    <input formControlName="input2" type="text" pInputText />
    <ng-container formGroupName="group1">
        <input formControlName="input1G1" type="text" pInputText />
    </ng-container>
    <button type="submit" pButton pRipple label="Submit"></button>
</form> -->
<br/>
<br/>
<div class="filter-wrapper">
    <div class="w-16rem filter" *ngFor="let i of utils.counter(8)">
        <span class="p-float-label">
            <p-dropdown
                id="fieldFilter" [options]="[]"
                name="fieldFilter" optionLabel="name" optionValue="field"
                [autoDisplayFirst]="true">
            </p-dropdown>
            <label class="font-normal" for="dropdownStatus"> Tìm kiếm theo </label>
        </span>
    </div>
</div>




