<!-- #region filter -->
<ng-container *ngIf="floatLabel">
    <span [ngClass]="'p-float-label b-custom relative ' + classContainer">
      <p-multiSelect
        [ngClass]="(showClear ? 'paddingShowClear ' : '') + classMultiSelect"
        [style]="{ width: widthMultiSelect }"
        [options]="options"
        [(ngModel)]="ngModelValue"
        (onChange)="onChange($event)"
        [filter]="true"
        [resetFilterOnHide]="true"
        [filterBy]="filterBy"
        [showClear]="showClear"
        [placeholder]="placeholder"
        [selectionLimit]="selectionLimit"
        [optionLabel]="'name'"
        [optionValue]="'code'"
      >
      </p-multiSelect>
      <label [ngClass]="'font-normal' + classLabel" *ngIf="showLabel">{{ label }}</label>
    </span>
  </ng-container>
  <!-- #endregion -->

  <!-- #region form -->
  <ng-container *ngIf="!floatLabel">
    <div [ngClass]="'field' + classContainer">
      <label [ngClass]="'title-info' + classLabel" *ngIf="showLabel">
        {{ label }}
        <span class="required-field" *ngIf="isRequired"> * </span></label
      >
      <p-multiSelect
        [autoDisplayFirst]="autoDisplayFirst"
        [ngClass]="'custom-disabled ' + classMultiSelect"
        [options]="options"
        [disabled]="isDisabled"
        [(ngModel)]="ngModelValue"
        (onChange)="onChange($event)"
        [filter]="true"
        [resetFilterOnHide]="true"
        [filterBy]="filterBy"
        [placeholder]="placeholder"
        [appendTo]="'body'"
        [selectionLimit]="selectionLimit"
      ></p-multiSelect>
    </div>
  </ng-container>
  <!-- #endregion -->
