:host ::ng-deep {
    p-multiSelect.paddingShowClear {
      div.p-multiselect-label {
        padding-right: 20px;
      }
    }
  }
  
  i.icon-clear {
    top: 10px;
    right: 30px;
    cursor: pointer;
  }
  