<!--  -->
<div class="wrapper-lib-table {{ resetBorder ? 'reset-border': '' }}" *ngIf="showTable">
    <div #eTable [@animationRefresh] *ngIf="isShowTable" [style.position]="'relative'">
        <div #wrapperETable (scroll)="onScroll($event)" [style]="{ height: !isHeightAuto ? (tableHeight+'px') : 'auto'}" class="lib-table" [id]="id" [style.overflow]="setHeightComplete ? 'auto' : 'hidden'">
            <ngx-spinner
				type="ball-spin-clockwise"
				size="default"
				[fullScreen]="false">
			</ngx-spinner>
			<p-table
              styleClass="{{ class }} custom-table {{ isRowOdds && 'row-odds' }}"
              [value]="rows"
              [(selection)]="selectedItems"
              [reorderableColumns]="reorderableColumns"
              [rowHover]="rowHover"
              [responsiveLayout]="responsiveLayout"
              [dataKey]="dataKey"
              [showCurrentPageReport]="showCurrentPageReport"
              [paginator]="paginator"
              [scrollable]="scrollable"
              [scrollHeight]="'auto'"
              (onRowSelect)="onSelectedChange()"
              (onRowUnselect)="onSelectedChange()"
              (onHeaderCheckboxToggle)="onSelectedChange();onCheckboxClick($event)"
              [sortMode]="'multiple'"
              (onSort)="onSort($event)"
              [customSort]="true"
            >
                <ng-template pTemplate="header">
                    <tr id="thead">
                        <ng-container *ngFor="let col of columnShows; last as lastItem; index as index">
                            <th
                                [pSortableColumn]="col?.fieldSort || col.field" [pSortableColumnDisabled]="!col?.isSort || onResize" [alignFrozen]="col?.alignFrozen" [frozen]="col?.isFrozen"
                                [ngStyle]="getStyleColumn | function :col" [ngClass]="col?.class" [title]="col?.title || ''"
                                [resizeColumn]="true" (_onResize)="onResize=$event"
                            >
                                <ng-container>
                                    <!-- COLUMN CHECKBOX -->
                                    <div #checkbox *ngIf="[ETableColumnType.CHECKBOX_ACTION, ETableColumnType.CHECKBOX_SHOW, ETableColumnType.CHECKBOX_CHANGE].includes(col?.type) && !col?.header">
                                        <ng-container *ngIf="[ETableColumnType.CHECKBOX_ACTION, ETableColumnType.CHECKBOX_SHOW, ETableColumnType.CHECKBOX_CHANGE].includes(col?.type) && !col?.header">
                                            <!-- [disabled]="col.type === ETableColumnType.CHECKBOX_SHOW" -->
                                                <p-tableHeaderCheckbox
                                                    [disabled]="col.type === ETableColumnType.CHECKBOX_SHOW || col.type === ETableColumnType.CHECKBOX_CHANGE">
                                                </p-tableHeaderCheckbox>
                                        </ng-container>
                                        <div class="popup" [style.top.px]="top" [style.left.px]="left" *ngIf="isShowOptionPagePopup && !col?.isHideOptionCheckbox">
                                            <div class="flex flex-column mt-3 ml-3">
                                                <div *ngFor="let option of optionPage" class="field-checkbox">
                                                    <p-checkbox [value]="option?.code" [(ngModel)]="selectedOption" [inputId]="option.code" (onChange)="onChange($event)"></p-checkbox>
                                                    <label [for]="option.code">{{ option.name }}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- COLUMN TEXT -->
                                    <ng-container *ngIf="col?.type === ETableColumnType.TEXT || col?.header">
                                        <span> {{col.header}}</span>
                                        <p-sortIcon field="{{ col.field }}" *ngIf="col.isSort"></p-sortIcon>
                                    </ng-container>
                                   
                                    <!-- COLUMN ACTION -->
                                    <ng-container *ngIf="col?.type == ETableColumnType.ACTION_DROPDOWN && !col?.header">
                                        <i class="pi pi-cog hover-pointer icon-setting-display-column" (click)="setColumn()"></i>
                                    </ng-container>
                                    <!-- <div *ngIf="col?.isResize"class="icon-resize" (click)="$event.stopPropagation()">
                                        <img [src]="Icons.RESIZE_COLUMN" />
                                    </div>

                                    <i *ngIf="isShowIconFilter && last"
                                        class="{{ isShowFilter ? 'pi pi-filter-slash' : 'pi pi-filter' }} b-icon-filter-setting"
                                        [style.right.rem]="col?.width - 1.5"
                                        [title]="isShowFilter ? 'Ẩn bộ lọc' : 'Hiện bộ lọc'"
                                        (click)="changeDisplayFilter()">
                                    </i> -->
                                </ng-container>
                            </th>
                        </ng-container>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
                    <tr [pReorderableRow]="rowIndex" [ngClass]="{'row-separator-history': row?.operationType === BaseConsts.separatorHistory}">
						<ng-container *ngFor="let col of columnShows; index as index">
							<ng-container *ngFor="let colValue of [(row?.[col?.field+'_customValue'] || row?.[col?.field])]">
								<td [ngSwitch]="col?.type" [ngStyle]="getStyleColumn | function: [col]" [ngClass]="col?.class + ' column-'+index" [alignFrozen]="col?.alignFrozen" [frozen]="col?.isFrozen">
									<ng-container *ngSwitchCase="ETableColumnType.REORDER" #REORDER>
										<span class="pi pi-bars" pReorderableRowHandle></span>
									</ng-container>
									<ng-container *ngSwitchCase="ETableColumnType.ACTION_ICON" #ICON>
										<i [class]="col?.icon + ' b-icon hover-pointer'" (click)="columnOriginals[col.position].action(row, index)"></i>
									</ng-container>
									<ng-container *ngSwitchCase="ETableColumnType.ACTION_BUTTON" #BUTTON>
                                        <p-button
											[icon]="col.icon"
                                            [disabled]="colValue?.isDisableButton ? true : false"
											[lable]="col?.label"
											[styleClass]="'hover-pointer p-button-rounded ' + col?.classButton"
											(click)="columnOriginals[col.position].action(row, index)">
										</p-button>
									</ng-container>
									<ng-container *ngSwitchCase="ETableColumnType.ACTION_DROPDOWN" #DROPDOWN>
										<div class="flex hover-pointer" *ngIf="listAction[rowIndex]?.length > 0">
											<i class="pi pi-ellipsis-h" (click)="menu.toggle($event)"></i>
											<p-menu
												#menu [popup]="true"class="button-actions"
												[model]="listAction[rowIndex]" appendTo="body"
												>
											</p-menu>
										</div>
									</ng-container>
									<ng-container *ngSwitchCase="ETableColumnType.HISTORY" #HISTORY>
										<div [ngClass]="col?.cutText" [title]="colValue">
											<div *ngIf="!row?.isImage">
												<ng-container
													[ngTemplateOutletContext]="{ col: col, colValue: colValue, fieldContentHtmls: fieldContentHtmls }"
													[ngTemplateOutlet]="textCustom">
												</ng-container>
											</div>
											<div *ngIf="row?.isImage">
                                                <ng-container *ngIf="colValue?.includes(environment?.apiViewImage)"
                                                    [ngTemplateOutletContext]="{ col: col, colValue: colValue, fieldContentHtmls: fieldContentHtmls, row: row }"
                                                    [ngTemplateOutlet]="imageHistory">
                                                </ng-container>
                                                <div *ngIf="!colValue?.includes(environment?.apiViewImage)">
                                                    -
                                                </div>
											</div>
										</div>
									</ng-container>
                                    
									<ng-container *ngSwitchCase="ETableColumnType.TEXT">
										<div 
											*ngFor="let action of [columnOriginals[col?.position]?.action]"
											[ngClass]="{'hover-pointer': !!action}" [class]="col?.cutText"
											(click)="action && action(row, index)" [title]="colValue">
											<span [ngClass]="{'link': col?.otherType === ETableColumnType.LINK}">
												<ng-container
													[ngTemplateOutletContext]="{
														col: col,
														colValue: colValue,
                                                        row: row,
														fieldContentHtmls: fieldContentHtmls
													}"
													[ngTemplateOutlet]="textCustom">
												</ng-container>
											</span>
										</div>
									</ng-container>
									<ng-container #CHEKBOX>
										<ng-container *ngSwitchCase="ETableColumnType.CHECKBOX_ACTION">
											<p-tableCheckbox
												[value]="row" (onChange)="onRowSelect(row)" [disabled]="row?.isDisabled">
											</p-tableCheckbox>
										</ng-container>
										<ng-container *ngSwitchCase="ETableColumnType.CHECKBOX_SHOW">
											<lib-checkbox
												[isCheckboxIcon]="col?.isCheckboxIcon"
												[value]="colValue" [readonly]="true" [disabled]="row?.isDisabled">
											</lib-checkbox>
										</ng-container>
										<ng-container *ngSwitchCase="ETableColumnType.CHECKBOX_CHANGE">
                                            <!-- {{colValue | json}} -->
											<div (click)="columnOriginals[col?.position]?.action(row, index)">
												<lib-checkbox
													[isCheckboxIcon]="col?.isCheckboxIcon"
                                                    [disabled]="colValue?.isDisableCheckbox ? true : false"
													[value]="colValue?.value" [readonly]="true">
												</lib-checkbox>
											</div>
										</ng-container>
									</ng-container>
									<ng-container *ngSwitchCase="ETableColumnType.IMAGE" #IMAGE>
										<ng-container
											[ngTemplateOutletContext]="{ col: col, colValue: colValue, fieldContentHtmls: fieldContentHtmls, row: row }"
											[ngTemplateOutlet]="imageCustom">
										</ng-container>
									</ng-container>
									<ng-container *ngIf="typeDates.includes(col?.type)" #DATE>
										<span> {{ colValue }}</span>
									</ng-container>
									<ng-container *ngSwitchCase="ETableColumnType.CURRENCY" #CURRENCY>
										<span>
											{{ colValue >= 0 ? ((colValue | currency) + (col?.unit || '')) : (colValue || null) }}
										</span>
									</ng-container>
									<ng-container *ngSwitchCase="ETableColumnType.STATUS" #STATUS>
										<span class="p-tag {{ (colValue)?.class }}">
											{{ (colValue)?.name }}
										</span>
									</ng-container>
								</td>
							</ng-container>
						</ng-container>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <ng-container *ngIf="isLoading">
                        <tr [style.height.px]="38" *ngFor="let i of counter(tableHeight/38 - 2)" class="pending-data">
                            <td [colSpan]="columnShows?.length" class="b-empty-data"></td>
                        </tr>
                    </ng-container>
                    <ng-container *ngIf="!isLoading">
                            <td [colSpan]="columnShows?.length" class="b-empty-data">
								<div class="flex justify-content-center mt-5">
									<p-image class="" [src]="EImageTable.EMPTY" alt="Image"></p-image>
								</div>
                            </td>
                    </ng-container>
                </ng-template>
                <ng-template pTemplate="loading-data">
                    <tr class="loading-data">
                        <td [colSpan]="columnShows?.length"> Đang tải dữ liệu ... </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    <!-- Bảng nếu trên 25 item hiện isShowPaginator-->
    <ng-container *ngIf="isShowPaginator && setHeightComplete" [ngTemplateOutlet]="paginatorCustom"></ng-container>
</div>
<ng-template #paginatorCustom>
    <div #wrapperPaginator class="paginator">
        <p-paginator #paginatorEl
            [appendTo]="'body'"
            [rows]="page.pageSize"
            [totalRecords]="page.totalItems"
            [rowsPerPageOptions]="page.perPageOptions"
            currentPageReportTemplate="Tất cả {{ page.totalItems }} dòng"
            [showCurrentPageReport]="true"
            [styleClass]="styleClassPaginator"
            (onPageChange)="setPage($event)">
        </p-paginator>
    </div>
</ng-template>

<ng-template #textCustom let-col="col" let-fieldContentHtmls="fieldContentHtmls" let-colValue="colValue" let-row="row">
    <ng-container *ngIf="fieldContentHtmls?.includes(col?.field)">
        <span [innerHTML]="colValue" [title]="extractTextFromHTML(colValue)" > </span>
    </ng-container>
    <span *ngIf="!fieldContentHtmls?.includes(col?.field)">
        {{
            col?.sliceString && (colValue?.length > col?.sliceString)
            ? ((colValue | slice :0 :col.sliceString)+'...')
            : colValue
        }} 
        <img *ngIf="col?.otherType === ETableColumnType.QUARANTINE_CONTRACT && row?.isQuarantineContract" class='quarantine-contract' src='../../../assets/layout/images/icons/quarantine-contract.svg' alt='mirage-layout' [pTooltip]="'Hợp đồng phong tỏa'"/>
    </span> 
</ng-template>

<ng-template #imageCustom let-col="col" let-fieldContentHtmls="fieldContentHtmls" let-row="row" let-colValue="colValue">
        <div (click)="!colValue?.default && showImage(colValue?.url)" [style.cursor]="'pointer'"> 
			<p-image 
				*ngIf="colValue && !row.isVideo" 
				[src]="colValue?.default || ((colValue?.value | imageResize) | async)" 
				[height]="col?.height" alt="Image" width="100">
			</p-image>
        </div>
        <p-image
            *ngIf="colValue && row.isVideo == true"
            src="../../../../../shared/assets/layout/images/default-media-image/videoTemplate.png"
            alt="Image" width="50">
        </p-image>
</ng-template>

<ng-template #imageHistory let-col="col" let-fieldContentHtmls="fieldContentHtmls" let-row="row" let-colValue="colValue">
    <div (click)="!colValue?.default && showImage(colValue)" [style.cursor]="'pointer'"> 
        <p-image 
            [src]="colValue" 
            [height]="col?.height" alt="Image" width="100">
        </p-image>
    </div>

</ng-template>

